# prerequisite CONFIGs for tcpdirect
#
# use
#
# make defconfig
# ./scripts/kconfig/merge_config.sh -m .config tcpdirect.config
# make olddefconfig

# for p2pdma
CONFIG_ZONE_DEVICE=y
CONFIG_MEMORY_HOTPLUG=y
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_SPARSEMEM_VMEMMAP=y
CONFIG_DEVICE_PRIVATE=y
CONFIG_PCI_P2PDMA=y

# for nv_p2pdma
CONFIG_MEMORY=y
CONFIG_NVIDIA_P2PDMA=m
